@model ProjetoFlavio.Models.ViewModelClienteEndereco

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>


<div class="page-title">
    <div class="title_left">
        <h3>Cadastro de Cliente</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dados Cadastrais <small>different form elements</small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                @using (Html.BeginForm("Adicionar", "Clientes", FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "demo-form2" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nome">
                            Nome Completo <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.Clientes.Nome, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nome Completo" } })
                            @Html.ValidationMessageFor(model => model.Clientes.Nome, "", new { @class = "text-danger" })


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >CPF</label>
                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <label  class="switch">
                                <input id="chekbokCN" type="checkbox">
                                <div id="teste" class="slider round"></div>
                            </label>
                            </div>  <label class="control-label " >CNPJ</label>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CpfCnpj">
                               
                            </label>
                            <div  class="col-md-3 col-sm-6 col-xs-12">
                                <div id="cpfCnpj"></div>
                                @Html.ValidationMessageFor(model => model.Clientes.CpfCnpj, "", new { @class = "text-danger" })
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                    Email <span style="color: red" class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.Clientes.Email, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Clientes.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="celular">
                                    Celular <span style="color: red" class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-12">

                                    @Html.EditorFor(model => model.Clientes.Celular, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "(99)999999-999" } })
                                    @Html.ValidationMessageFor(model => model.Clientes.Celular, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Logradouro" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Logradouro
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    @Html.EditorFor(model => model.ClientesEnderecos.Logradouro, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                                    @Html.ValidationMessageFor(model => model.ClientesEnderecos.Logradouro, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Bairro" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Bairro
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.ClientesEnderecos.Bairro, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Bairro" } })
                                    @Html.ValidationMessageFor(model => model.ClientesEnderecos.Bairro, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Cep" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Cep
                                </label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.ClientesEnderecos.Cep, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Cep" } })
                                    @Html.ValidationMessageFor(model => model.ClientesEnderecos.Cep, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Estado" class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                                <div class="col-md-1 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.ClientesEnderecos.Estado, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Estado" } })
                                    @Html.ValidationMessageFor(model => model.ClientesEnderecos.Estado, "", new { @class = "text-danger" })
                                </div>

                                <label for="Cidade" class="control-label col-md-1 col-sm-3 col-xs-12">Cidade</label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.ClientesEnderecos.Cidade, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Cidade", data_tipo="cpf" } })
                                    @Html.ValidationMessageFor(model => model.ClientesEnderecos.Cidade, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-9 col-xs-12">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Ativo </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                @Html.EditorFor(model => model.Clientes.Status, new { htmlAttributes = new { @class = "flat" } })
                                                @Html.ValidationMessageFor(model => model.Clientes.Status, "", new { @class = "flat" })

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancelar</button>
                                    <button class="btn btn-primary" type="reset">Limpar Campos</button>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                }

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

    <script>
        $(document).ready(function () {
            $("#teste").click(function () {
                // var t = $("#chekbokCN");
                //alert(t);
                if ($("#chekbokCN").is(":checked") == true) {
                    //alert("CPF");//CNPJ
                    $("#cpfCnpj").html('@Html.EditorFor(model => model.Clientes.CpfCnpj, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "CPF", data_tipo = "cpf2"} })');

                } else {
                     $("#cpfCnpj").html('@Html.EditorFor(model => model.Clientes.CpfCnpj, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "CNPJ", data_tipo = "cnpj" } })');
                }
            });
    });
        
</script>
<script src="~/Content/js/jquery.mask.min.js"></script>
<script src="~/Content/js/mascaras.js"></script>

