@model ProjetoFlavio.Models.ViewModelClienteEndereco



<div class="page-title">
    <div class="title_left">
        <h3>Cadastro de Cliente</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dados Cadastrais <small>different form elements</small></h2>
            
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
               
                    @using (Html.BeginForm("Salvar", "Clientes", FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "demo-form2" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nome">
                            Nome Completo <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.Clientes.Nome, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nome Completo" } })
                            @Html.ValidationMessageFor(model => model.Clientes.Nome, "", new { @class = "text-danger" })


                        </div>                       
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CpfCnpj">
                            CPF / CNPJ <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">                           
                            @Html.EditorFor(model => model.Clientes.CpfCnpj, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "CNPJ ou CPF" } })
                            @Html.ValidationMessageFor(model => model.Clientes.CpfCnpj, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Email <span style="color: red" class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">                            
                            @Html.EditorFor(model => model.Clientes.Email, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nome Completo" } })
                            @Html.ValidationMessageFor(model => model.Clientes.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="celular">
                            Celular <span style="color: red" class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                         
                            @Html.EditorFor(model => model.Clientes.Celular, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "(99)999999-999" } })
                            @Html.ValidationMessageFor(model => model.Clientes.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Logradouro" class="control-label col-md-3 col-sm-3 col-xs-12">
                        Logradouro</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                            @Html.EditorFor(model => model.ClientesEnderecos.Logradouro, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                            @Html.ValidationMessageFor(model =>model.ClientesEnderecos.Logradouro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Bairro" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Bairro
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.ClientesEnderecos.Bairro, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                            @Html.ValidationMessageFor(model => model.ClientesEnderecos.Bairro, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Cep" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Cep
                        </label>
                        <div class="col-md-2 col-sm-6 col-xs-12">                            
                           @Html.EditorFor(model => model.ClientesEnderecos.Cep, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                          @Html.ValidationMessageFor(model => model.ClientesEnderecos.Cep, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Estado" class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                        <div class="col-md-1 col-sm-6 col-xs-12">                           
                            @Html.EditorFor(model => model.ClientesEnderecos.Estado, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                            @Html.ValidationMessageFor(model => model.ClientesEnderecos.Estado, "", new { @class = "text-danger" })
                        </div>

                        <label for="Cidade" class="control-label col-md-1 col-sm-3 col-xs-12">Cidade</label>
                        <div class="col-md-2 col-sm-6 col-xs-12">                           
                            @Html.EditorFor(model => model.ClientesEnderecos.Cidade, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", placeholder = "Logradouro" } })
                            @Html.ValidationMessageFor(model => model.ClientesEnderecos.Cidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">                       
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Ativo </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.Clientes.Status, new { htmlAttributes = new { @class = "flat" } })
                                        @Html.ValidationMessageFor(model => model.Clientes.Status, "", new { @class = "flat" })

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="button">Cancelar</button>
                            <button class="btn btn-primary" type="reset">Limpar Campos</button>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                    }
                
            </div>
        </div>
    </div>
</div>

